@page "/"
@using BlazorApp.Models

@inject IGitHubService GitHubService
@inject IJSRuntime JS

@rendermode InteractiveServer


<h3>Versions</h3>

<div>
    @if ()
    {
    else if (_tags == null)
        {
            <p>Loading...</p>
        }
        else if (!_tags.Any())
        {
            <p>No repos found.</p>
        }
        else
        {
            @foreach (var item in _tags)
            {
                <Commit OnRollbackClick="() => SetBranchToCommitAsync(item.Commit.Sha)" OnDeployClick="() => TriggerMainDeployment()" Url="@GetCommitUrl(item.Commit.Sha)" Repo="@_repo" Tag="@item.Name" IsActiveCommit="@IsMainAtCommit(item.Commit.Sha)" />
            }

        }
    }
</div>

@code {
    private List<Tag> _tags = new List<Tag>();

    private string _token = Environment.GetEnvironmentVariable("GITHUB_TOKEN");
    private string _owner = "BoryaTheExplorer";
    private string _repo = "BlazorApp";
    private string _mainSha = "";

    protected override async Task OnInitializedAsync()
    {
        _mainSha = await GitHubService.GetBranchShaAsync(_token, _owner, _repo);

        var tagsResult = await GitHubService.GetTagsAsync(_token, _owner, _repo);
        _tags = tagsResult.Tags;
    }
    protected string GetCommitUrl(string sha)
    {
        return $"https://github.com/{_owner}/{_repo}/commit/{sha}";
    }
    protected string GetFormattedDate(string date)
    {
        return date.Remove(10, date.Length);
    }
    protected bool IsMainAtCommit(string commitSha)
    {
        return string.Equals(commitSha, _mainSha, StringComparison.OrdinalIgnoreCase); ;
    }
    protected async Task SetBranchToCommitAsync(string commitSha)
    {
        var result = await GitHubService.CheckRunningWorkflowsAsync(_token, _owner, _repo);
        if (!result.IsSuccess)
        {
            await ShowPopup("Workflow running! Rollback cancelled");
            return;
        }

        await GitHubService.SetBranchToCommitAsync(_token, _owner, _repo, commitSha);
        _mainSha = commitSha;
    }
    protected async Task TriggerMainDeployment()
    {
        var result = await GitHubService.CheckRunningWorkflowsAsync(_token, _owner, _repo);
        if (!result.IsSuccess)
        {
            await ShowPopup("Workflow running! Deployment cancelled");
            return;
        }

        await GitHubService.TriggerWorkflowAsync(_token, _owner, _repo, "deploy.yml", "main");
    }

    protected async Task ShowPopup(string message)
    {
        await JS.InvokeVoidAsync("alert", message);
    }
}
