@page "/"
@using BlazorApp.Models

@inject IGitHubService GitHubService

@rendermode InteractiveServer


<h3>Versions</h3>

<div>
    @foreach (var item in _tags)
    {
        <Commit Url = "@GetUrl(item.Commit.Sha)" Repo = "@_repo" Tag = "@item.Name"/>
    }
</div>

@code {
    private List<Tag> _tags = new List<Tag>();

    private string _token = Environment.GetEnvironmentVariable("GITHUB_TOKEN")!;
    private string _owner = "BoryaTheExplorer";
    private string _repo = "BlazorApp";
    private string _url = "";

    protected override async Task OnInitializedAsync()
    {
        _url = "";
        //_tags.Add(new Tag { Name = "A" });
        _tags = await GitHubService.GetTagsAsync(_token, _owner, _repo);
    }
    protected string GetUrl(string sha)
    {
        return $"https://github.com/{_owner}/{_repo}/commit/{sha}";
    }
    protected string GetFormattedDate(string date)
    {
        return date.Remove(10, date.Length);
    }
}
